name: test_shader
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  shaders:
    - shaders/glass_ball.frag
    - shaders/water_bubble.frag
    - shaders/reflective_ball.frag

  assets:
    - assets/background.jpg
